{% extends "base.html" %}

{% block title %}Inicio | AJG Solution{% endblock %}

{% block content %}
<section class="hero">
     <div class="card border-secondary mb-3" style="max-width: 50rem;">
          <div class="card-body text-secondary">
            <h3 class="card-title">Deep Tech DNA</h3>
            <p>En AJG Solution integramos inteligencia artificial, sistemas distribuidos y automatización avanzada. Nacimos para redefinir el futuro tecnológico de las empresas.</p>
          </div>
          <div class="card-body text-secondary">
            <h3 class="card-title">Visión 2030</h3>
            <p>Ser la empresa líder en innovación tecnológica, 98% de satisfacción. Unimos ingeniería de elite con diseño centrado en la persona.</p>
          </div>
        </div>
</section>
{% endblock %}