{% extends "base.html" %}

{% block title %}Inicio | AJG Solution{% endblock %}

{% block content %}
<section class="hero">
    <div class="grid-2cols">
          <div class="card">
            <h3>Deep Tech DNA</h3>
            <p>En AJG Solution integramos inteligencia artificial, sistemas distribuidos y automatización avanzada. Nacimos para redefinir el futuro tecnológico de las empresas.</p>
          </div>
          <div class="card">
            <h3>Visión 2030</h3>
            <p>Ser la empresa líder en innovación tecnológica, 98% de satisfacción. Unimos ingeniería de elite con diseño centrado en la persona.</p>
          </div>
        </div>
</section>
{% endblock %}