Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.47
python-dotenv==1.2.2
requests==2.32.5
groq==1.0.0
gunicorn==23.0.0
tenacity==9.1.4
setuptools==79.0.1
beautifulsoup4==4.14.3
bs4==0.0.2
cachetools==5.5.2
Werkzeug==3.1.3