{% extends "base.html" %}
{% block title %}Tendencia | AJG Solution{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Tendencia por Rango</h2>

        <form method="POST" class="row g-3">

            <div class="col-md-3">
                <select name="tipo" class="form-select" required>
                    {% for tipo in tipos %}
                        <option value="{{ tipo }}">
                            {{ tipo.replace('_', ' ').upper() }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <input type="date" name="fecha_inicio" class="form-control " required>
            </div>

            <div class="col-md-3">
                <input type="date" name="fecha_fin" class="form-control" required>
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary w-100">Calcular</button>
            </div>

    </form>
    
    <!-- RESULTADO -->

    {% if resultado %}
<div class="card mt-4 p-3 shadow">

    <h5 class="mb-3">
        Tendencia {{ tipo.replace('_',' ').upper() }}
    </h5>

    <p class="text-info-emphasis">
        <strong class="text-info">Desde:</strong> {{ fecha_inicio }}
        <br>
        <strong class="text-info">Hasta:</strong> {{ fecha_fin }}
    </p>

    <hr>
        <p class="text-white"><strong class ="text-primary">Valor Inicial:</strong> {{ resultado.valor_inicial }}</p>
        <p class="text-white"><strong class ="text-primary">Valor Final:</strong> {{ resultado.valor_final }}</p> 
        <p class="text-body"><strong class="text-primary">Variación:</strong>
            {% if resultado.variacion > 0 %}
                <span class="text-success">▲ {{ resultado.variacion }}%</span>
            {% elif resultado.variacion < 0 %}
                <span class="text-danger">▼ {{ resultado.variacion }}%</span>
            {% else %}
                <span class="text-warning">0%</span>
            {% endif %}
        </p>
    </hr>

</div>
{% endif %}
</div>

{% endblock %}